# Python / Django
__pycache__/
*.py[cod]
*$py.class
*.so
db.sqlite3
media/
staticfiles/

# Entornos Virtuales
venv/
.venv/
env/
ENV/

# IDEs y Editores
.vscode/
.idea/
*.swp
*.swo

# Sistema Operativo
.DS_Store
Thumbs.db
desktop.ini

# Archivos de entorno y logs
.env
*.log
.codex_tmp_*.txt
